body{
  margin: 0;
}
span{
  display: block;
}
.container{
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
}
.container div{
  background-color: #16075e;
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 150px; 
}
#home-score, #guest-score{
  background-color: #050216;
  font-size: 40px;
  margin:  15px 20px;
  font-weight: 600;
}
button{
  margin: 3px;
  padding: 7px 10px;
  font-size: 16px;
  cursor: pointer;
}

.highlights{
  color: yellow;
  font-weight: bold;
  transition: color 0.5s ease;
}